.visit-details-container {
  padding: 20px;
  border: 1px solid #72b878;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: auto;
  height: 90%;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 20px;
}

.details-grid p {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px dashed #eee;
}

.details-grid strong {
  display: inline;
  margin-bottom: 5px;
  color: #007bff;
}