<app-sidebar></app-sidebar>
<main class="content">
  <header class="page-header">
    <h1>Détails du patient: {{ patient?.name }}</h1>
  </header>

  <div class="page-body">
    <mat-tab-group>
      <mat-tab label="Patient ID">
        <div class="tab-content">
          @if (patient) {
          <p><strong>ID:</strong> {{ patient.id }}</p>
          <p><strong>Nom:</strong> {{ patient.name }}</p>
          <p><strong>Sexe:</strong> {{ patient.sex }}</p>
          <p><strong>Date de naissance:</strong> {{ patient.dateOfBirth }}</p>
          <p><strong>Téléphone:</strong> {{ patient.phone }}</p>
          <p><strong>Adresse:</strong> {{ patient.adresse }}</p>
          <p><strong>Date de création:</strong> {{ patient.creationDate }}</p>
          } @else {
          <p>Chargement des informations du patient...</p>
          }
        </div>
      </mat-tab>
      <mat-tab label="Historique Médical">
        <div class="tab-content">
          <div class="tab-header">
            <h2>Historique Médical</h2>
            <button mat-raised-button color="primary" (click)="toggleEditMode()">
              {{ editMode ? 'Annuler' : 'Modifier' }}
            </button>
          </div>

          @if (!editMode) {
          <p><strong>Antécédents médicaux personnels:</strong> {{ patient?.personalMedicalHistory }}</p>
          <p><strong>Antécédents médicaux familiaux:</strong> {{ patient?.familialMedicalHistory }}</p>
          <p><strong>État de santé actuel:</strong> {{ patient?.currentMedicalCondition }}</p>
          <p><strong>Médicaments actuels:</strong> {{ patient?.currentMedications }}</p>
          <p><strong>Allergies:</strong> {{ patient?.allergies }}</p>
          <p><strong>Chirurgies:</strong> {{ patient?.surgeries }}</p>
          <p><strong>Vaccins:</strong> {{ patient?.vaccines }}</p>
          } @else {
          <form [formGroup]="medicalHistoryForm" (ngSubmit)="saveMedicalHistory()">
            <mat-form-field appearance="outline">
              <mat-label>Antécédents médicaux personnels</mat-label>
              <textarea matInput formControlName="personalMedicalHistory"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Antécédents médicaux familiaux</mat-label>
              <textarea matInput formControlName="familialMedicalHistory"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>État de santé actuel</mat-label>
              <textarea matInput formControlName="currentMedicalCondition"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Médicaments actuels</mat-label>
              <textarea matInput formControlName="currentMedications"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Allergies</mat-label>
              <textarea matInput formControlName="allergies"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Chirurgies</mat-label>
              <textarea matInput formControlName="surgeries"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Vaccins</mat-label>
              <textarea matInput formControlName="vaccines"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!medicalHistoryForm.valid">
              Enregistrer
            </button>
          </form>
          }
        </div>
      </mat-tab>
      <mat-tab label="Visites">
        <div class="tab-content">
          @if (patient) {
          <app-visits-tab [patientId]="patient.id"></app-visits-tab>
          } @else {
          <p>Chargement des visites...</p>
          }
        </div>
      </mat-tab>
      <mat-tab label="Tests de Laboratoire">
        <div class="tab-content">
          @if (patient) {
          <app-lab-test [patientId]="patient.id"></app-lab-test>
          } @else {
          <p>Chargement des tests de laboratoire...</p>
          }
        </div>
      </mat-tab>

      <mat-tab label="Prescriptions">
        <div class="tab-content">
          @if (patient) {
          <app-prescriptions-tab [patientId]="patient.id"></app-prescriptions-tab>
          } @else {
          <p>Chargement des prescriptions...</p>
          }
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</main>