.content {
  overflow: hidden;
  height: 100%;
}

.medical-history-container {
  overflow: auto;
  padding: 20px;
  height: 70vh;
}

.tab-header {
  padding-bottom: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  /* Adjust the gap between fields as needed */
}

.form-row mat-form-field {
  flex: 1;
}

.form-row textarea {
  height: 100px;
}

.patient-age {
  color: #1a73e8;
  /* Example color: Google Blue */
  font-weight: bold;
}

.certificats-container {
  height: 70vh;
  overflow: auto;
  padding: 20px;
}