<div>
  @if (!showAddLabTestForm()) {
  <h2>Lab Tests</h2>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="toggleAddLabTestForm(true)">
      Ajouter un bilan
    </button>
  </div>

  <ul>
    @for (test of labTests(); track test.labTestId) {
    <li> {{ test.labTestName }} - {{ test.labTestDate }}</li>

    }

  </ul>
  } @else {
  <app-add-lab-test [patientId]="patientId" (labTestAdded)="onLabTestAdded()" (cancel)="toggleAddLabTestForm(false)">
  </app-add-lab-test>
  }
</div>