<div class="sidebar">
    <div class="sidebar-header">
        <img src="assets/icons/app_logo.jpg" alt="App Logo" class="app-logo">
    </div>
    <ul class="nav-list">
        <li>
            <a routerLink="/patients" routerLinkActive="active">
                <mat-icon>people</mat-icon>
                <span>Patients</span>
            </a>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>