<form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Date de prescription</mat-label>
    <input matInput type="date" formControlName="medicationDate">
  </mat-form-field>

  <div formArrayName="medications">
    <div *ngFor="let medication of medications.controls; let i=index" [formGroupName]="i" class="medication-group">
      <h4>Médicament {{i + 1}}</h4>



      <div class="form-fields">

        <mat-form-field appearance="outline" class="medication-name-field">
          <mat-label>Nom du médicament</mat-label>
          <input matInput formControlName="medicationName" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let drug of filteredDrugs[i] | async" [value]="drug">
              {{drug}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>




      </div>

      <div class="form-fields">

        <mat-form-field appearance="outline">
          <mat-label>Quantité</mat-label>
          <input matInput formControlName="amount">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Forme galénique</mat-label>
          <mat-select formControlName="dosageForm">
            <mat-option *ngFor="let form of dosageForms" [value]="form">
              {{form}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-fields">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de fois par jour</mat-label>
          <input matInput formControlName="timesPerDay">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Durée du traitement</mat-label>
          <input matInput formControlName="medicationDuration">
        </mat-form-field>
        <button mat-icon-button (click)="removeMedication(i)" *ngIf="medications.length > 1">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" type="button" (click)="addMedication()">Ajouter un médicament</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!prescriptionForm.valid">Enregistrer</button>
    <button mat-button (click)="onCancel()">Annuler</button>
  </div>
</form>