<div class="home-container">
  <mat-card class="home-card">
    <div class="logo-container">
      <img src="assets/icons/app_logo.jpg" alt="MedApp Logo" class="app-logo">
    </div>
    <mat-card-header>
      <mat-card-title>Bienvenue sur EasyMed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Votre solution complète et intuitive pour la gestion médicale.</p>
      <p>Accédez facilement aux dossiers patients, gérez les bilans, les ordonnances et les lettres d'orientation en
        toute sécurité.</p>
      <p>Optimisez votre pratique quotidienne et concentrez-vous sur l'essentiel : vos patients.</p>
    </mat-card-content>
    <mat-card-actions class="home-actions">
      <button mat-raised-button color="primary" routerLink="/login">Se connecter</button>
      <button mat-stroked-button color="accent" routerLink="/register">S'enregistrer</button>
    </mat-card-actions>
  </mat-card>
</div>